{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "all",
  "useTabs": true,
  "tabWidth": 4,
  "jsxBracketSameLine": false
}